/*===== FONTS IMPORT =====*/

/*===== VARIABLES CSS =====*/
:root {
   --header-height: 3rem;
   /*===== Colors =====*/
   --dark-color: #000;
   --first-color: #3e0e12;
   --first-color-dark: #2f0a0d;
   --light-color: #fff;
   --first-color-light: #7b6f71;
   --first-color-lighten: #fbf9f9;
   --text-color: #524748;

   /*===== Font and typography =====*/
   --body-font: 'Lato', sans-serif;
   --biggest-font-size: 2.5rem;
   --h1-font-size: 1.5rem;
   --h2-font-size: 1.25rem;
   --h3-font-size: 1.125rem;
   --normal-font-size: 0.938rem;
   --small-font-size: 0.813rem;
   --smaller-font-size: 0.75rem;

   /*===== Font weight =====*/
   --font-medium: 500;
   --font-semi-bold: 600;
   --font-bold: 700;

   /*===== Margins =====*/
   --mb-1: 0.5rem;
   --mb-2: 1rem;
   --mb-3: 1.5rem;
   --mb-4: 2rem;
   --mb-5: 2.5rem;
   --mb-6: 3rem;

   /*===== z index =====*/
   --z-normal: 1;
   --z-tooltip: 10;
   --z-fixed: 100;
}

@media screen and (min-width: 768px) {
   :root {
      --biggest-font-size: 4.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.875rem;
      --smaller-font-size: 0.813rem;
   }
}

/*===== BASE =====*/
*,
::before,
::after {
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   margin: var(--header-height) 0 0 0;
   font-family: var(--body-font);
   font-size: var(--normal-font-size);
   font-weight: var(--font-medium);
   /* background-color: var(--first-color-lighten); */
   color: var(--text-color);
   line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
   margin: 0;
}

h2,
h3 {
   font-weight: var(--font-semi-bold);
}

ul {
   padding: 0;
   list-style: none;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
   height: auto;
   display: block;
}

/*===== CLASS CSS =====*/

/*===== LAYOUT =====*/

/*===== NAV =====*/

/* Show menu */

/* Active menu */

/* Change background header */

/*===== SCROLL TOP =====*/

/* Show scroll top */

/*===== HOME =====*/

/*BUTTONS*/

/*===== ABOUT =====*/

/*===== SKILLS =====*/

/*===== WORKS =====*/

/* Active menu portfolio*/

/*===== TESTIMONIAL =====*/

/*===== CONTACTME =====*/

/*===== FOOTER =====*/

/* ===== MEDIA QUERIES=====*/
/* ===== Phone=====*/
@media screen and(max-width: 767px) {
}
/* ===== Tablet=====*/
@media screen and(min-width: 768px) and (max-width: 1023px) {
}
/* ===== Desktop=====*/
@media screen and(min-width: 1024px) {
}

.button {
   display: inline-block;
   background-color: var(--grey-color);
   color: var(--dark-color);
   /* margin: 0 var(--mb-2) var(--mb-2) var(--mb-2); */
   margin: var(--mb-2);
   padding: 0.4rem 0.8rem;
   border-radius: 0.5rem;
   transition: 0.3s;
}

.button:hover {
   background-color: var(--main-color);
   color: var(--light-color);
}

/* ===== HOW TO SETUP PERFECT BG IMG =====*/
.box {
   background-image: url('./');

   /* Make image center */
   background-position: center center;

   /* Make image fixed */
   background-attachment: fixed;

   /* Not repeat images */
   background-repeat: no-repeat;

   /* Set background size auto */
   background-size: auto;
}

/* Media query for mobile devices  */
@media only screen and (max-width: 767px) {
   body {
      background-image: url('/.');
   }
}

/* shows the background image in different viewports. */
.anotherBox {
   /* Image Location */
   background-image: url('./'); /* Background image is centered vertically and horizontally at all times */
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: #464646; /* Font Colour */
   color: white;
}
